<%- include('../partials/header.ejs') %>

    <div class="container vh-100">
        <script src="/javascripts/auth/reset-form.js"></script>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 my-3">
                <div class="card shadow p-3">
                    <div class="card-body">
                        <!-- Formulaire d'Inscription -->
                        <form action="/users/reset-password/<%= userId %>/<%= token %>" method="POST">
                            <h3 class="text-center mb-4">
                                Réinitialisation du mot de passe
                            </h3>

                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Mot de passe" name="password"
                                    id="password">
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Confirmer le mot de passe"
                                    name="passwordConfirm" id="passwordConfirm">
                            </div>

                            <span id="passwordConfirmError" class="text-danger"></span>

                            <div class="mb-3">
                                <% if (errors && errors.length> 0) { %>
                                    <% errors.forEach(function(error) { %>
                                        <p class="text-danger">
                                            <%= error %>
                                        </p>
                                        <% }) %>
                                            <% } %>
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary" id="resetButton" disabled>
                                    Réinitialiser le mot de passe
                                </button>
                            </div>
                        </form>

                        <!-- Messages d'erreur -->
                    </div>
                </div>
            </div>
        </div>
    </div>



    <%- include('../partials/footer.ejs') %>