<%- include('../partials/header.ejs') %>

    <div class="container vh-100">
        <script src="/javascripts/auth/auth-form.js"></script>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 my-3">
                <div class="card shadow p-3">
                    <div class="card-body">
                        <!-- Formulaire d'Inscription -->
                        <form action="/auth/signin" method="POST">
                            <h3 class="text-center mb-4">Connexion</h3>
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="E-mail" name="email">
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Mot de passe" name="password">
                            </div>
                            <div class="mb-3 justify-content-between d-flex align-items-center">
                                <a href="#" class="ms-auto text-decoration-none text-muted cursor-pointer" id="forgot">Mot de passe oublié
                                    ?</a>
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">
                                    Se connecter
                                </button>
                            </div>
                        </form>

                        <!-- Messages d'erreur -->
                        <% if (errors && errors.length> 0) { %>
                            <% errors.forEach(function(error) { %>
                                <p class="text-danger">
                                    <%= error %>
                                </p>
                                <% }) %>
                                    <% } %>
                                        <!-- Liens pour s'inscrire avec Google, Facebook, Twitter -->
                                        <div class="text-center">
                                            <p>Se connecter en un seul clic :</p>
                                            <a href="#" class="btn btn-danger"><i class="fab fa-google"></i>
                                                Google</a>
                                            <a href="#" class="btn btn-primary"><i class="fab fa-facebook"></i>
                                                Facebook</a>
                                            <a href="#" class="btn btn-info"><i class="fab fa-twitter"></i>
                                                Twitter</a>
                                        </div>

                                        <!-- Lien pour se connecter -->
                                        <div class="text-center mt-3">
                                            Pas de compte ? <a href="/users/signup/form"
                                                class="text-decoration-none">S'inscrire</a>
                                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>









    <%- include('../partials/footer.ejs') %>