<div class="container mt-3">
    <div class="row justify-content-center">

        <div class="col-md-6">
            <!--Début Gestion des Erreurs-->
            <% if (locals.errors && errors && errors.length) { %>
                <div class="alert alert-danger text-center fw-bold">
                    <% errors.forEach(function(error) { %>
                        <p class="mb-0">
                            <%= error %>
                        </p>
                        <% }) %>
                </div>
                <% } %>

                    <!-- Fin Gestion des Erreurs -->
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <span class="d-block h3 text-uppercase font-weight-bold text-center">
                                Ajouter un chapitre
                            </span>
                        </div>
                        <div class="card-body">
                            <form action="/api/chapters" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control mb-3" id="title"
                                        placeholder="Entrez le titre" name="title">
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control mb-3" id="nbOfLessons"
                                        placeholder="Entrez le nombre de leçons" min="1" name="nbOfLessons">
                                </div>
                                <!--  <div class="form-group">
                            <input type="number" class="form-control mb-3" id="index" placeholder="Entrez l'index" name="index">
                        </div> -->
                                <div class="form-group">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="active" name="active">
                                        <label class="form-check-label" for="active">Active</label>
                                    </div>
                                </div>
                                <div class="d-grid gap-2 col-6 mx-auto mt-3 mb-2">
                                    <button type="submit" class="btn btn-success">Ajouter</button>
                                </div>

                            </form>
                        </div>
                    </div>
        </div>
    </div>
</div>