<div class="col-md-2">
    <div class="card container-bg">
        <div class="card-body">
            <h5 class="card-title">Who to follow</h5>
            <% if (lastestUsers && lastestUsers.length> 0) { %>
                <% lastestUsers.forEach(user=> { %>
                    <% if (user._id.toString() !==currentUser._id.toString()) { %>
                        <div class="media mt-3 border-bottom pb-3 d-flex align-items-center">
                            <a href="/users/<%= user.username  %>" class="text-decoration-none text-dark">
                            <img src="<%= user.local.picture %>" class="me-0 rounded-circle border" width="50" height="50" alt="Profile Picture">
                            </a>
                            <p class="text-muted fw-italic">@<%= user.username %></p>
                            <% if (currentUser.following.map(objId => objId.toString()).includes(user._id.toString())) { %>
                            <a href="/users/unfollow/<%= user._id %>" class="btn btn-outline-warning btn-sm ms-auto "><i class="bi bi-person-dash" style="font-size: 1.5rem;"></i></a>
                            <% } else { %>
                            <a href="/users/follow/<%= user._id %>" class="btn btn-outline-dark btn-sm ms-auto follow-btn"><i class="bi bi-person-plus" style="font-size: 1.5rem;"></i></a>
                            <% } %>
                        </div>
                        <% } %>

                            <% }) %>
                                <% } %>
        </div>
    </div>
</div>