<!-- Footer -->
<footer class="card-dark text-white text-decoration-none text-center text-lg-start mt-4">
    <div class="container p-4 text-white text-decoration-none">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0 ">
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Home</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">About</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Services</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Social Media</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Facebook</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Twitter</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Instagram</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">LinkedIn</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Privacy</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Terms of Use</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact Us</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Email: example@example.com</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Phone: +123 456 7890</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; 2023 Twitter Clone | All Rights Reserved 
        Made with <i class="fas fa-heart"></i> by <a class="text-white text-decoration-none" href="#">Romy</a>
    </div>
</footer>
<!-- Footer -->


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>