<script src="/javascripts/search-bar.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top py-3">
    <a class="navbar-brand" href="/">
        <img src="/images/twitter.png" alt="logo" width="30" height="30" class="d-inline-block align-text-top ps-3">
        Clone
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <% if (isAuthenticated) { %>
            <li class="nav-item">
                <a class="nav-link position-relative" href="#">
                    <% if (tweets) { %>
                        <i class="bi bi-bell"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill
<%= tweets.length >= 100 ? 'bg-danger' : (tweets.length >= 1 && tweets.length <= 99) ? 'bg-info' : 'd-none' %>">
                            <% if (tweets.length>= 100) { %>
                                99+
                                <% } else { %>
                                    <%= tweets.length %>
                                        <% } %>
                        </span>
                        <% } %>
                            </span>
                </a>
            </li>
            <% } %>
        </ul>

        <% if (isAuthenticated) { %>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Rechercher un user" aria-label="Search"
                    id="search-input">
                <div id="search-menu-container">

                </div>
            </form>
            <% } %>
                <ul class="navbar-nav">
                    <!--  <li class="nav-item">
                    <a class="nav-link" href="/tweet/new"><i class="bi bi-chat-left-dots"></i></a>
                </li> -->
                    <% if (isAuthenticated) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="<%- currentUser.local.picture %>" alt="avatar" width="30" height="30"
                                    class="rounded-circle">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/signout">
                                Logout
                            </a>
                        </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/users/signup/form">
                                    Register
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/signin/form">
                                    Login
                                </a>
                            </li>
                            <% } %>

                                <!-- 
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
                -->
                </ul>
    </div>
</nav>