<div class="profil d-flex align-items-center ">
    <a href="/users/<%= tweet.author.username %>" class="text-decoration-none text-dark">
        <img src="<%= tweet.author.local.picture %>" class="me-2 rounded-circle" alt="..." width="40" height="40">
        <b class="mb-2 badge text-bg-dark">@<%= tweet.author.username %></b>
    </a>
</div>