<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark">
                    <h2 class="text-center text-white">Inscription</h2>
                </div>
                <div class="card-body">
                    <form action="/api/users" method="POST">
                        <div class="form-group">

                            <input type="text" class="form-control mb-3" id="name"
                                placeholder="Entrez votre nom complet" name="name">
                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control mb-3" id="username"
                                placeholder="Entrez votre nom d'utilisateur" name="username">
                        </div>
                        <div class="form-group">

                            <input type="email" class="form-control mb-3" id="email"
                                placeholder="Entrez votre adresse e-mail" name="email">
                        </div>
                        <div class="form-group">

                            <input type="password" class="form-control mb-3" id="password"
                                placeholder="Entrez votre mot de passe" name="password">
                        </div>
                        <div class="form-group">

                            <input type="password" class="form-control mb-3" id="confirm-password"
                                placeholder="Confirmez votre mot de passe" name="confirm-password">
                        </div>
                        <button type="submit" class="btn btn-primary">S'inscrire</button>
                    </form>
                </div>
                <div class="card-footer">
                    <p class="text-center">ou inscrivez-vous avec</p>
                    <div class="d-flex justify-content-around">
                        <a href="#" class="btn btn-outline-danger mr-2">
                            <img src="/images/icones/google.ico" alt="" class="w-25">
                            Google</a>
                        <a href="#" class="btn btn-outline-danger mr-2">
                            <img src="/images/icones/fb.ico" alt="" class="w-25">
                            Facebook</a>
                        <a href="#" class="btn btn-outline-danger">
                            <img src="/images/icones/ig.ico" alt="" class="w-25">
                            Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>