<div class="search-menu">
    <% if(users && users.length> 0) { %>
        <% users.forEach(user=> { %>
            <a href="/users/<%= user.username  %>" class="text-decoration-none text-dark">
                <div class="media d-flex align-items-center search-menu-items">
                    <img src="<%=  user.local.picture %>" class="me-3 rounded-circle" alt="..." width="50" height="50">
            </a>
            <div class="media-body">
                <a href="/users/<%= user.username  %>" class="text-decoration-none text-dark">
                    <p class="mt-0">@<%= user.username %>
                    </p>
                </a>
                <button type="button" class="btn btn-primary btn-sm">Follow</button>
            </div>
</div>

<% }) %>

    <% } else { %>
        <div class="media d-flex align-items-center search-menu-items">
            <div class="media-body">
                <p class="mt-0">
                    Aucun utilisateur trouvé
                </p>
            </div>
        </div>
        <% } %>
            </div>