<%- include('partials/header.ejs') %>

    <script src="/javascripts/profil.js"></script>
    <!-- Main Content -->
    <div class="container-fluid mt-0 container-bg" id="main-content">
        <div class="row">

            <div class="col-md-3">
                <!-- Profil -->

                <%- include('users/profil-card.ejs') %>



                    <!-- Fin profil-->

                    <!-- Trending -->
                    <div class="card container-bg">
                        <div class="card-body">
                            <h5 class="card-title">Trending</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item cursor-pointer container-bg">#Bootstrap</li>
                                <li class="list-group-item cursor-pointer container-bg">#WebDevelopment</li>
                                <li class="list-group-item cursor-pointer container-bg">#JavaScript</li>
                                <li class="list-group-item cursor-pointer container-bg">#ReactJS</li>
                                <li class="list-group-item cursor-pointer container-bg">#NodeJS</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Fin trending-->
            </div>


            <div class="col-md-7 ">
                <div class="card container-bg">
                    <div class="card-body">
                        <h5 class="card-title">What's happening?</h5>

                        <!-- Compare this snippet from views/tweets/tweet-form.ejs: -->
                        <!--
                        Vérifier si l'url est différent de /tweets ou /
                    -->

                        <%- include('tweets/tweet-form.ejs') %>



                            <!-- <form action="/api/tweets" method="POST"> -->

                    </div>
                </div>
                <!--Début Liste des tweets-->

                <div class="card mt-3">
                    <div class="card-body container-bg">
                        <h5 class="card-title py-3 text-center">
                            Les tweets de la communauté
                        </h5>

                        <!-- Compare this snippet from views/tweets/tweet-list.ejs: -->

                        <%- include('tweets/tweet-list.ejs') %>

                            <!-- 
                        -->

                    </div>
                </div>

                <!--Fin Liste des tweets-->
            </div>

            <!-- Follow-->


            <%- include('partials/follow-card.ejs') %>
                <!--Fin follow-->


        </div>
    </div>






    <%- include('partials/footer.ejs') %>