.cursor-pointer {
    cursor: pointer;
}

.container-bg {
    background-color: #e7eaf9;
    ;
}

.card-dark {
    background-color: #040519;
    color: #e7eaf9;
}


/* Profil */
.my-bg {
    background: linear-gradient(135deg, #4CAF50, #2196F3) !important;
    color: #fff;
}

.card.my-1:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.profil-name {
    color: #fca311;
    font-weight: 700;
    font-style: italic;
}

/* Styles pour la carte de profil */
.profile-card {
    background: linear-gradient(135deg, #4CAF50, #2196F3);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    /* La carte est une colonne */

    /* Media query pour les écrans plus petits */
    @media (max-width: 768px) {
        display: none;
        flex-direction: column;
        /* Réorganise en colonne pour les petits écrans */
    }
}

/* Styles pour l'en-tête (nom d'utilisateur) */
.profile-card .card-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

/* Styles pour les informations utilisateur (texte) */
.profile-card .card-text {
    font-size: 1rem;
    text-align: left;
    margin: 5px 0;
    flex: 1;
    /* Remplit l'espace disponible */

    /* Media query pour les écrans plus petits */
    @media (max-width: 768px) {
        text-align: center;
        /* Centrer le texte pour les petits écrans */
    }
}

/* Styles pour les sous-titres (Tweets et Followers) */
.profile-card .card-subtitle {
    font-size: 1rem;
    margin: 5px 0;
    text-align: left;
}

/* Animation de survol */
.profile-card:hover {
    transform: scale(1.05);
}

/* Styles pour l'image de profil */
.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;

    /* Media query pour les très petits écrans */
    @media (max-width: 480px) {
        width: 75px;
        height: 75px;
    }
}

.searc-menu-container{
    position: relative;
}

.search-menu{
    position: absolute;
    top: 100%;
    left: 40%;
    width: 20%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(26, 229, 178, 0.2);
    z-index: 1;
    margin: 0 auto;
}

.search-menu-items{
    padding: 10px 15px;
    border-bottom: 1px solid #e7eaf9;
    transition: background 0.3s ease-in-out;
}

.search-menu-items:hover{
    background-color: #e7eaf9;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}