<%- include('../partials/header.ejs') %>

<div class="container vh-100">
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" action="/tweets/edit/<%= tweet._id %>">
                <div class="form-group">
                    <p class="text-center h1">
                        Modifier votre tweet
                    </p>
                    <textarea class="form-control" id="content" rows="3" name="content"><%= tweet.content %></textarea>
                    <% if (errors && errors.length> 0) { %>
                        <% errors.forEach(function(error) { %>
                            <p class="text-danger">
                                <%= error %>
                            </p>
                            <% }) %>
                                <% } %>
                </div>
                <button type="submit" class="btn btn-warning mt-2">Enregistrer</button>
            </form>
        </div>
    </div>
</div>


<%- include('../partials/footer.ejs') %>
