<%- include('../partials/header.ejs') %>


    <div class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">
        <div class="card" style="width: 50%;">
            <div class="card-header">
                <h5 class="card-title text-center">Écrire un Tweet</h5>
            </div>
            <div class="card-body">
                <form action="/api/tweet" method="POST">
                    <div class="form-group">
                        <textarea class="form-control" id="content" rows="3" name="content"
                            placeholder="What's on your mind?"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Tweet</button>
                </form>
            </div>
        </div>
    </div>



    <%- include('../partials/footer.ejs') %>