


<form method="POST" action:"/tweets">

    <div class="form-group">
        <textarea class="form-control" id="content" rows="3" placeholder="What's on your mind?"
            name="content"></textarea>
        <% if (errors && errors.length> 0) { %>
            <% errors.forEach(function(error) { %>
                <p class="text-danger">
                    <%= error %>
                </p>
                <% }) %>
                    <% } %>

    </div>
    <button type="submit" class="btn btn-success mt-2">Tweet</button>
</form>