<script src="/javascripts/tweets/tweet.js"></script>
<% if (tweets) { %>
    <% tweets.forEach(tweet=> { %>
        <div class="media shadow-lg p-3 mb-5 bg-body rounded border border-info" id="tweet-list-container">
            <%- include('../partials/profile', { tweet: tweet }) %>
                <div class="media-body">
                    <p class="ms-5 mb-4">
                        <%= tweet.content %>
                    </p>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="d-flex">
                            <button type="button" class="btn btn-white btn-sm mr-1" tweetid="<%= tweet._id %>">
                                <i class="bi bi-heart"></i>
                            </button>
                            <button type="button" class="btn btn-white btn-sm mr-1" tweetid="<%= tweet._id %>">
                                <i class="bi bi-retweet"></i>
                            </button>
                        </div>
                        <% if (editable && tweet.author._id.toString()===currentUser._id.toString()) { %>
                            <div class="d-flex">
                                <a href="/tweets/update/<%= tweet._id %>" class="btn btn-white btn-sm mr-1"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal-<%= tweet._id %>"
                                    tweetid="<%= tweet._id %>">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <button type="button" class="btn btn-white float-end my-1 btn-sm"
                                    tweetid="<%= tweet._id %>">
                                    <i class="bi bi-trash btn-action"></i>
                                </button>
                            </div>
                            <% } %>
                                <div class="d-flex">
                                    <button type="button" class="btn btn-white btn-sm mr-1" tweetid="<%= tweet._id %>">
                                        <i class="bi bi-arrow-repeat"></i>
                                    </button>
                                    <button type="button" class="btn btn-white btn-sm mr-1" tweetid="<%= tweet._id %>">
                                        <i class="bi bi-share"></i>
                                    </button>
                                </div>
                    </div>
                </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal-<%= tweet._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center card-dark">
                        <h6 class="modal-title fs-5" id="exampleModalLabel">Modifié votre tweet</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body card-dark">
                        <form method="POST" action="/tweets/edit/<%= tweet._id %>">
                            <div class="form-group">
                                <textarea class="form-control" id="content" rows="3"
                                    name="content"><%= tweet.content %></textarea>
                                <% if (errors && errors.length> 0) { %>
                                    <% errors.forEach(function(error) { %>
                                        <p class="text-danger">
                                            <%= error %>
                                        </p>
                                        <% }) %>
                                            <% } %>
                            </div>
                            <div class="modal-footer">
                                <a href="/tweets" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</a>
                                <button type="submit" class="btn btn-warning">Valider</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
            <% } %>