<div style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
    <table role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
        <tr>
            <td bgcolor="#3498db" style="text-align: center; padding: 20px; color: #fff;">
                <h1 style="margin: 0;">Confirmation d'adresse e-mail</h1>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <p>Bonjour <%= username %>,</p>
                <p>Merci de vous être inscrit sur notre site. Veuillez cliquer sur le bouton ci-dessous pour confirmer
                    votre adresse e-mail :</p>
                <a href="<%= url %>"
                    style="display: inline-block; background-color: #3498db; color: #fff; padding: 10px 20px; text-decoration: none;">Confirmer
                    mon adresse e-mail</a>
                <p>Si vous n'avez pas créé de compte sur notre site, vous pouvez ignorer cet e-mail.</p>
                <p>Merci,</p>
                <p>Votre équipe <strong>X Clone</strong></p>
            </td>
        </tr>
    </table>
</div>

