<div style="font-family: Arial, sans-serif; text-align: center; background-color: #f8f9fa; padding: 20px;">

    <div
        style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-align: left;">

        <h1 style="color: #007bff;">Réinitialisation de mot de passe</h1>
        <p>Bonjour ,</p>
        <p>Vous avez demandé une réinitialisation de votre mot de passe. Cliquez sur le lien ci-dessous pour créer un
            nouveau mot de passe :</p>

        <a href="<%= url %>"
            style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">Réinitialiser
            le mot de passe</a>

        <p>Si vous n'avez pas demandé cette réinitialisation de mot de passe, vous pouvez ignorer cet e-mail en toute
            sécurité.</p>

        <p>Merci,<br>
         L'équipe X Clone</p>

    </div>

</div>
