<div class="profile-card">
    <div class="card border border-white my-1 my-bg">
        <form action="/users/update/image" method="POST" enctype="multipart/form-data" id="form-container">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <img src="<%- user.local.picture %>" alt="Profile_<%- user.username %>_<%- user.lastname %>"
                        class="rounded-circle me-3 cursor-pointer" width="75" height="75" id="avatar-img">
                    <div>
                        <h5 class="card-title mb-0">
                            <b>
                                <%- user.firstname %>
                            </b>
                        </h5>

                        <% if(user.local.emailVerified) { %>
                            <p class="card-text profil-name">
                                @<%- user.username %><span class="bi bi-patch-check-fill text-info mx-1"></span>

                            </p>
                            <% } else { %>
                                <p class="card-text profil-name">
                                    @<%- user.username %><span class="badge bg-danger mx-1">Email non vérifié</span>
                                </p>
                                <% } %>


                    </div>
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <div class="d-flex flex-row">
                        <h6 class="card-subtitle mb-2 text-muted mx-1">
                            <i class="bi bi-twitter" style="color: #ffffff; font-size: 1.5rem;"></i>
                        </h6>
                        <p class="card-text">
                            <% if(tweets && tweets.filter(tweet=>
                                tweet.author._id.toString()===user._id.toString()).length>0) { %>
                                <%= tweets.filter(tweet=>tweet.author._id.toString()===user._id.toString()).length %>
                                    <% } %>

                        </p>
                    </div>
                    <div class="d-flex flex-row">
                        <h6 class="card-subtitle mb-2 text-muted mx-1">
                            <i class="bi bi-people" style="color: #ffffff; font-size: 1.5rem;"></i>
                        </h6>
                        <p class="card-text">
                            <%= user.following.length %>
                        </p>
                    </div>
                </div>
                <div>
                    <%= user.createdAt ? 'A rejoint X clone en ' + user.createdAt.getFullYear() : '' %>
                </div>
            </div>
            <% if(user._id==currentUser._id) { %>
                <input type="file" name="avatar" id="avatar" class="form-control d-none">
                <% } %>
        </form>
        <% if (user._id.toString() !==currentUser._id.toString()) { %>
            <div class="d-flex justify-content-center mt-3">
                <% if (currentUser.following.map(objId=> objId.toString()).includes(user._id.toString())) { %>
                    <a href="/users/unfollow/<%= user._id %>" class="btn btn-primary mb-2 border border-white fw-bold">
                        Unfollow
                    </a>
                    <% } else { %>
                        <a href="/users/follow/<%= user._id %>"
                            class="btn btn-success border border-white mb-2 fw-bold">
                            Follow
                        </a>
                        <% } %>
            </div>
            <% } %>
    </div>
</div>