<%- include('../partials/header.ejs') %>

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 my-3">
                <div class="card shadow p-3">
                    <div class="card-body">
                        <!-- Formulaire d'Inscription -->
                        <form action="/users/signup" method="POST">
                            <h3 class="text-center mb-4">Inscription</h3>

                            <!-- Genre -->
                            <div class="mb-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="homme" value="male">
                                    <label class="form-check-label" for="homme">Homme</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="femme"
                                        value="female">
                                    <label class="form-check-label" for="femme">Femme</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="autre" value="other">
                                    <label class="form-check-label" for="autre">Autre</label>
                                </div>
                            </div>

                            <!-- Nom, Prénom, Nom d'utilisateur, E-mail, Mot de passe -->
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Nom" name="lastname">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Prénom" name="firstname">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Nom d'utilisateur" name="username">
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="E-mail" name="email">
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Mot de passe" name="password">
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">S'inscrire</button>
                            </div>
                        </form>

                        <!-- Messages d'erreur -->
                        <% if (errors && errors.length> 0) { %>
                            <% errors.forEach(function(error) { %>
                                <p class="text-danger">
                                    <%= error %>
                                </p>
                                <% }) %>
                                    <% } %>

                                        <!-- Liens pour s'inscrire avec Google, Facebook, Twitter -->
                                        <div class="text-center">
                                            <p>Créez votre compte en un seul clic :</p>
                                            <a href="#" class="btn btn-danger"><i class="fab fa-google"></i>
                                                Google</a>
                                            <a href="#" class="btn btn-primary"><i
                                                    class="fab fa-facebook"></i> Facebook</a>
                                            <a href="#" class="btn btn-info"><i class="fab fa-twitter"></i>
                                                Twitter</a>
                                        </div>

                                        <!-- Lien pour se connecter -->
                                        <div class="text-center mt-3">
                                            Déjà inscrit? <a href="/auth/signin/form" class="text-decoration-none"
                                            >Se connecter</a>
                                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>









<%- include('../partials/footer.ejs') %>




